.landing_page_headline_text {
   display: flex;
   height: 31.75rem;
   flex-direction: column;
   justify-content: end;
   align-items: end;
   flex-shrink: 0;
   align-self: stretch;
   color: var(--green-charcoal, #2f3e46);
   text-align: right;
   font-family: Avenir Next LT Pro;
   font-size: 7.625rem;
   font-style: normal;
   font-weight: 700;
   line-height: 8.3125rem;
}
.landing_page_headline_text .first {
   line-height: 8.3125rem; /* 109.016% */
}
.landing_page_headline_text .second {
   background: linear-gradient(100deg, #6b917e 0%, #446461 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-decoration-line: underline;
}
.landing_page_paragraph {
   display: flex;
   width: 35.0625rem;
   height: 6rem;
   flex-direction: column;
   justify-content: center;
   flex-shrink: 0;
   color: var(--green-charcoal, #2f3e46);
   text-align: right;
   font-family: Poppins;
   font-size: 0.97438rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5rem; /* 153.945% */
}
