@import "./fonts.css";
@import "./animations.css";

:root {
   --white: #ffffff;
   --global-padding-left: 3.75rem;
   --green-charcoal: #2f3e46;
   --green-feldgrau: #446461;
   --green-viridian: #6b917e;
   --green-ash-gray: #cad2c5;
   --error-red: #930202;
   --header-height: 6.75rem;
   --sidebar-width: 7.4375rem;
}

.lines {
   background-size: cover;
   background-position: center;
   background-image: url(../assets/lines-background.png);
}

.backgrounds_sign_in {
   background-size: cover;
   background-position: center;
   background-image: url(../assets/signin-background.png);
}

.page_with_header {
   padding-top: var(--header-height);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
