@import "./fonts.css";
@import "./animations.css";
@import "./quizbox.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --white: #ffffff;
   --green-charcoal: #2f3e46;
   --green-feldgrau: #446461;
   --green-viridian: #6b917e;
   --green-ash-gray: #cad2c5;
   --green-cambridge-blue: #84a98c;
   --error-red: #930202;
   --error-red-2: #e95454;
   --heat-wave: #ff7a00;
   --fine-purple: #c20275;
   --indigo-dye: #284b63;
   --purple-eggplant: #684756;

   --global-padding-left: 3.75rem;
   --modal-padding: 3.75rem;
   --default-border-radius: 0.8125rem;

   --header-height: 6.75rem;
   --sidebar-width: 7.4375rem;
   --modal-morph-duration: 500ms;
   --quiz-start-width: 40vw;
   --quiz-start-height: 59vh;
   --quiz-width: 70vw;
   --quiz-height: 62vh;

   --rapid-fire-start-height: 59vh;
   --rapid-fire-start-width: 60vw;
   --rapid-fire-height: 75vh;
   --rapid-fire-width: 70vw;
}
/* For squished screens. */
@media (aspect-ratio > 1) {
   :root {
      --header-height: 4.5rem;
      --global-padding-left: 6rem;
   }
   .logo_text {
      font-size: 1.7rem;
   }
}

.lines {
   background-size: cover;
   background-position: center;
   background-image: url(../assets/lines-background.png);
}

.backgrounds_sign_in {
   background-size: cover;
   background-position: center;
   background-image: url(../assets/signin-background.png);
}

.backgrounds_password {
   background-size: cover;
   background-position: center;
   background-image: url(../assets/password-background.png);
}

.background_rapidfire {
   background-size: cover;
   background-position: center;
   background-image: url(../assets/rapidfire-background.png);
}

.page_with_header {
   position: relative;
   padding-top: var(--header-height);
}
